<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.member.mapper.MemberMapper">
   
   <select id="registerCheck" parameterType="String" resultType="kr.board.entity.Member">
      select * from member where memID = #{memID}
   </select>
   
   
   <select id="login" parameterType="kr.board.entity.Member" resultMap="memberMap">
      select * from member mem LEFT OUTER JOIN auth auth on 
      mem.memID = auth.memID where mem.memID = #{memID}
   </select>
   
   <update id="update" parameterType="kr.board.entity.Member">
      update member set memPassword = #{memPassword}, memName = #{memName},
      memAge = #{memAge}, memGender = #{memGender}, memEmail = #{memEmail}
      where memID = #{memID}
   </update>
   
   <delete id="authDelete">
   	  delete from auth where memID = #{memID}
   </delete>
   
   <resultMap type="kr.board.entity.Member" id="memberMap">
      <id property="memIdx" column="memIdx" />
      <result property="memID" column="memID" />
      <result property="memPassword" column="memPassword" />
      <result property="memName" column="memName" />
      <result property="memAge" column="memAge" />
      <result property="memGender" column="memGender" />
      <result property="memEmail" column="memEmail" />
      <result property="memProfile" column="memProfile" />
      <collection property="authList" resultMap="authMap"/>
   </resultMap>
   
   <resultMap type="kr.board.entity.Auth" id="authMap">
      <id property="no" column="no" />
      <result property="memID" column="memID" />
      <result property="auth" column="auth" />
   </resultMap>
   
   <select id="getMember" parameterType="kr.board.entity.Member" resultMap="memberMap">
      select * from member mem LEFT OUTER JOIN auth auth on 
      mem.memID = auth.memID where mem.memID = #{memID}
   </select>
   
   
   
   
   
   <update id="profileUpdate" parameterType="kr.board.entity.Member">
      update member set memProfile = #{memProfile}
      where memID = #{memID}
   </update>
   
   <insert id="authInsert" parameterType="kr.board.entity.Auth">
      insert into auth(memID, auth) values(#{memID}, #{auth})
   </insert>
   
   
   
   

</mapper>






